<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Title</title>
</head>
<body>
    <h1>Choose your car</h1>
    <form>
        <table>
            <thead>
                <td>id</td>
                <td>name</td>
                <td>photo</td>
                <td></td>
            </thead>

            <tr th:object="${c}"  th:each="c : ${cars}">

                <td th:text="*{getId()}"></td>
                <td th:text="*{getName()}"></td>
                <td><img  th:src="*{getPhoto()}" style="width: 100px"/> </td>
                <td>
                    <a th:href="@{/{id}/add(id=*{getId()})}">add</a>
                </td>
                <td>
                    <a th:href="@{/{id}/car/delete(id=*{getId()})}">delete</a>
                </td>
                <!--<td><input type="checkbox" th:checked="${true}" /></td>-->
            </tr>
        </table>
    </form>
    <input th:type="submit" value="submit"/>
    <a th:href="@{/}">Cancel</a>
</body>
</html>