<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
</head>

<body>
<h1>Welcome to Spring MVC</h1>
Now is: <b th:text="${execInfo.now.time}"></b>

<table>
    <thead>
        <td>id</td>
        <td>name</td>
        <td>surname</td>
        <td></td>
    </thead>
    <tr th:each="u : ${users}">
        <td th:text="${u.getId()}"></td>
        <td th:text="${u.getName()}"></td>
        <td th:text="${u.getSurname()}"></td>
        <!--<td th:text="${}"-->
        <!--<td><a th:href="@{/{id}/delete(id=${u.getId()})}">delete</a> </td>-->
    </tr>
</table>
</body>

</html>