<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>


        <form th:action="@{/register}" th:object="${user}" method="POST">
            <table>
                <tr>
                    <td>id</td>
                    <td><input type="text" th:field="*{id}" /> </td>
                    <td>
                        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" th:field="*{name}" /> </td>
                    <td>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" th:field="*{surname}" /> </td>
                    <td>
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Nickname</td>
                    <td><input type="text" th:field="*{nickname}" /> </td>
                    <td>
                        <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" th:field="*{password}" /> </td>
                    <td>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Submit" />
                        <a th:href="@{/}">Cancel</a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </form>
    </body>
</html>